body{
    font-family:Helvetica, sans-serif;
}

form.reg{
    margin-top: 10%;
    margin-left: 35%;
    background-color: rgb(231, 231, 231);
    width: 20%;
    border: gray solid 1.5px;
    border-radius: 7px;
    padding: 1%;
}

input{
    width: 98%;
    border-radius: 5px;
}

.h1{
    text-align: center;
}

label{
    font-family:Helvetica, sans-serif;
}

button{
    background-color: gray;
    padding:3%;
    text-align: center;
    width: 100%;
    border: none;
    border-radius: 5px;

}

